assets/~$resume.docx
_old_/_index.html
_old_/59766841_10155840052921841_326104978315804672_o.jpg
_old_/about.png
_old_/contact.html
_old_/danu-tucker-saunders.png
_old_/hero-01.jpg
_old_/hero-02.jpg
_old_/hero-03.jpg
_old_/portfolio-01.png
_old_/portfolio-02.jpg
_old_/portfolio.html
_old_/css/style.css
node_modules
package-lock.json
