@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

@font-face{
  font-family:"EmojiSymbols";
  src:url(assets/EmojiSymbols-Regular-37883244862ada81e50a5c43f090ab5b696a4d27c5e66d321546a1638bb1e682.woff) format("woff");
}

:focus {
  outline: none;
}

*,
body,
html {
  color: #6C8189;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body, 
html,
#outer-container,
#inner-container {
  background: #181818;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#inner-container {
  display: flex;
  flex-direction: row;
}

header,
nav ul, 
footer {
  background: #181818;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50px;
  overflow: hidden;
  padding: 10px 0;
  width: 50px;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 2em;
}

header ul,
header li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: none;
}

header nav a,
header nav a:hover {
  background: none;
  border: 0;
  display: block;
  font-size: 150%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  width: 50px;
}

#social a,
#social a:hover {
  align-items: center;
  display: flex; 
  font-size: 1em;
  height: 25px;
  justify-content: center;
  text-decoration: none;
  width: 50px;
}

header nav a:hover i,
#social a:hover i {
  color: #CDDEFF !important;
}

section {
  background: #1d1d1d;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: overlay;
}

.slide-holder {
  display: flex;
  height: 100%;
  overflow: overlay;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.slide-holder::-webkit-scrollbar {
  display: none;
}

.slide {
  background: linear-gradient(180deg, #899199, #899199 5px, #1d1d1d 5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1px;
  height: 100%;
  min-width: 100%;
  opacity: 0;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: 
    background-size .5s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    opacity 1s ease-in;
}

.slide.active {
  background-size: 100%;
  opacity: 1;
}

.slide::-webkit-scrollbar {
  display: none;
}

.slide:nth-child(even) {
  
}

.slide-button {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  top: 0;
  width: 50px;
}

.slide.active .slide-button {
  opacity: 1;
}

.slide-prev {
  left: 0;
}

.slide-next {
  right: 0;
}

.slide-button a,
.slide-button a:hover {
  font-size: 2em;
  pointer-events: fill;
  text-decoration: none;
}

.slide-button a:hover i {
  color: #CDDEFF !important;
}



.slide-container {
  box-sizing: border-box;
  line-height: 1.4;
  max-height: 100%;
  overflow: overlay;
  padding: 15px 50px 50px;
}

.slide-container::-webkit-scrollbar {
  display: none;
}





h2, h3 {
  color: #899199;
  font-family: 'Bebas Neue', cursive;
  font-size: 10vw; 
  font-size: 2em;
  margin: 1em 0;
}

h3 {
  
}


footer {
  min-width: 50px;
  width: 50px;
}

#name {
  font-family: 'Major Mono Display', monospace;
  font-size: 2em;
  padding: 10px 0;
  transform: translateX(35%);
  writing-mode: vertical-lr;
}

/*
 * Home
 */

#home h2 {
  display: none;
}

#home {
  background: repeating-linear-gradient(45deg, #181818 1px, #333333 2px, #333333 10px, #181818 11px);
  
}

h2 span {
  display: block;
  font-family: 'Major Mono Display', monospace;
  font-size: 0.5em;
}

#home .intro {
  /*
  background: blue;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: -webkit-text;
  background-clip: text;
  */
  font-family: 'La Belle Aurore', cursive;
  font-size: 15vw;
  letter-spacing: -0.05em;
  text-align: center;
  /*transform: scale(1.4);*/
  padding-top: 25%;
}

#home .intro-tag-line {
  background: #181818;
  margin: -66px -50px 0 -50px;
  padding: .5em;
}
#home p {
  text-align: center;
}

/*
 * About 
 */

@media only screen and (min-width: 700px), (min-height: 300px) {

  #about .slide-container::-webkit-scrollbar {
    display: block;
  }

  /* Track 
  #about .slide-container::-webkit-scrollbar-track {
    background: transparent;
    background: rgba(137, 145, 153, 0.5);
  }

  #about .slide-container::-webkit-scrollbar-track:hover {
    background: rgba(137, 145, 153, 1);
  }
*/
  /* Handle */
  #about .slide-container::-webkit-scrollbar-thumb {
    background: #6C8189;
    background: repeating-linear-gradient(45deg, rgba(24, 24, 24, .5) 1px, rgba(51, 51, 51, .5) 2px, rgba(51, 51, 51, .5) 10px, rgba(24, 24, 24, .5) 11px);
    background: repeating-linear-gradient(45deg, #181818 1px, #333333 2px, #333333 10px, #181818 11px);
    border-radius: 1em;
    border: 1px solid rgba(137, 145, 153, 1);
  }

  /* Handle on hover */
  #about .slide-container::-webkit-scrollbar-thumb:hover {
    
  }

  #about .slide-container {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
}

#about img.right {
  border-radius: .5em;
  float: right;
  filter: grayscale(100%);
  margin: 0   0 50px 50px;
}

#about ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about li {
  margin-bottom: 5%;
  transform: scale(1.5);
  transform-origin: left;
  width: 30%;
}

#about li img {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}

@media only screen and (max-width: 700px), (max-height: 300px) {

  #about img {
    max-width: 45%;
    margin: 0 0 15px 15px;
  }

}


/*
 * Portfolio
 */

#portfolio ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  space-between;
}


 #portfolio li {
  margin-bottom: 5%; /* (100-32*3)/2 */
  /*padding-bottom: 32%; /* Same as width, sets height */*/
  position: relative;
  width: 30%;
 }

 #portfolio li a {
  display: block;
  min-height: 100%;
  min-width: 100%;
 }

 #portfolio li img {
  border: 1px solid #181818;
  border-radius: .3em;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  transition: transform .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
   /*opacity: 0;*/
 }

 #portfolio li:hover img {
  transform: scale(1.25);
  transform-origin: center;
}
/*
#portfolio li {
  width: calc(100% / 3);
}

#portfolio li a {
  background: #eee;
  box-sizing: border-box;
  display: block;
  min-width: 100;
  padding: 1em; 
  margin: 1em; 
}

#portfolio li a:after {
  content: '';
  display: table;
  padding-top: 100%;
}

#portfolio img {
  border-radius: .5em;
  display: none;  
  max-width: 100%;
}

*/

@media only screen and (max-width: 700px) {
  #portfolio li {
    width: calc(100% / 2);
  }
}


/*
 * Contact Page
 */

form {

}

form .msg {
  display: none;
  opacity: 0;
}

form .msg-sent {
  background: #333333;
  border: 1px solid #6c8189;
  display: block;
  margin: 1em 0;
  opacity: 1;
  padding: 1em;
}

label {
  display: block;
  margin: 1em 0;
}

input[type=email],
input[type=text],
input[type=submit],
textarea {
  background: #333333;
  border: 0;
  box-sizing: border-box;
  margin: 0;

  resize: none;
  padding: 1em;
  width: 100%;
}

textarea {
  height: calc(1em * 20)
}

input[type=submit] {
  cursor: pointer;
}
/*
input[type=text]:hover:invalid,
input[type=email]:hover:invalid,
textarea:hover:invalid {
  background: pink; 
}

input[type=text]:hover:valid,
input[type=email]:hover:valid,
textarea:hover:valid {
  background: green;
}
*/


@media only screen and (max-width: 700px) {

  #inner-container {
    flex-wrap: wrap;
  }

  header h1 {
    display: none;
  }

  header  { order: 3; position: relative; z-index: 99; }
  section { order: 2; position: relative; z-index: 10; }
  footer  { order: 1; position: relative; z-index: 98; }

  header {
    right: 0;
    padding: 0;
    position: fixed;
    top: 0;
  }

  nav ul {
    background: linear-gradient(180deg, #899199, #899199 0px, #181818 1px, #181818 49px, #899199);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1px;
    display: flex;
    height: 0;    
    justify-content: space-around;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    transition: height 0.3s ease-in, background-size 0.3s ease-in, opacity 0.2s ease-in;
    width: 100%;
  }

  nav li {
    transition: opacity 0.6s ease-in;
    opacity: 0;
  }

  .menu {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }

  .menu .icon {
    font-size: 150%;
  }

  .menu.menu-show { display: inline-block; }
  .menu.menu-hide { display: none; }

  .menu.menu-show:focus {
    right: -50px;
    position: fixed;
    
  }

  .menu.menu-show:focus + .menu-hide {
    display: inline-block;    
  }

  .menu.menu-show:focus ~ ul {
    background-size: 100%;
    height: 50px;
    opacity: 1;
  }

  .menu.menu-show:focus ~ ul li {
    opacity: 1;
  }


  #social {
    bottom: 50px;
    left: 0;
    position: fixed;
  }

  section {
    word-break: break-all;
    max-height: calc(100% - 50px);
  }

  #slider-container {
    max-height: calc(100% - 50px);
    padding: 15px 50px; 
  }

  h2 {
    margin: 0 0 .5em;
  }
  h3 {
    margin: .5em 0;
  }

  footer {
    height: 50px;
    min-width: calc(100% - 50px);
    min-width: 100%;
  }

  #name {
    font-size: 5.2vw;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    transform: none;
    writing-mode: initial;
  }

  
}