@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y5g7bo');
  src:  url('fonts/icomoon.eot?y5g7bo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y5g7bo') format('truetype'),
    url('fonts/icomoon.woff?y5g7bo') format('woff'),
    url('fonts/icomoon.svg?y5g7bo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-momentjs .path1:before {
  content: "\e90e";
  color: rgb(55, 102, 96);
}
.icon-momentjs .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(82, 153, 144);
}
.icon-expressjs:before {
  content: "\e906";
}
.icon-handlebarsjs:before {
  content: "\e907";
}
.icon-node-dot-js:before {
  content: "\e908";
  color: #393;
}
.icon-javascript:before {
  content: "\e909";
  color: #f7df1e;
}
.icon-css3:before {
  content: "\e90a";
  color: #1572b6;
}
.icon-python:before {
  content: "\e90b";
  color: #3776ab;
}
.icon-html5:before {
  content: "\e90c";
  color: #e34f26;
}
.icon-php:before {
  content: "\e90d";
  color: #777bb4;
}
.icon-mysql:before {
  content: "\e900";
  color: #4479a1;
}
.icon-jquery:before {
  content: "\e901";
  color: #0769ad;
}
.icon-react:before {
  content: "\e902";
  color: #61dafb;
}
.icon-bootstrap:before {
  content: "\e903";
  color: #563d7c;
}
.icon-mongodb:before {
  content: "\e904";
  color: #47a248;
}
.icon-firebase:before {
  content: "\e905";
  color: #ffca28;
}
.icon-download:before {
  content: "\e960";
}
